<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar color="red">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="createUserRole" (click)="createUserFnct()">Create User</a>
      <a mat-list-item *ngIf="createRouteRole" (click)="createRouteFnct()">Create Route</a>
      <a mat-list-item *ngIf="createSubcriptionRole" (click)="subscribeFnct()">Subscribe</a>
      <a mat-list-item  *ngIf="scanPassRole" (click)="scanPassFnct()">Scan Pass</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Monthly Pass System</span>
      <span class="spacer"></span>
      <mat-icon aria-label="Side nav toggle icon" (click)="signOut()">exit_to_app</mat-icon>
    </mat-toolbar>
        <div *ngIf="createUser">
            <create-user-form ></create-user-form>
        </div>
        <div *ngIf="scanPass">
            <scan-pass></scan-pass>
        </div>
        <div *ngIf="createRoute">
            <create-route ></create-route>
        </div>
        <div *ngIf="subscribe">
            <subscribe ></subscribe>
        </div>

  </mat-sidenav-content>
</mat-sidenav-container>
