<button mat-raised-button color="primary" *ngIf="createUserRole" class="btn btn-primary" (click)="createUserFnct()">Create User</button>
<button mat-raised-button color="primary" *ngIf="scanPassRole" class="btn btn-primary" (click)="scanPassFnct()">Scan Pass</button>
<button mat-raised-button color="primary" *ngIf="createRouteRole" class="btn btn-primary" (click)="createRouteFnct()">Create Route</button>
<button mat-raised-button color="primary" *ngIf="createSubcriptionRole"  class="btn btn-primary" (click)="subscribeFnct()">Subscribe</button><br>
<div *ngIf="createUser">
    <create-user-form ></create-user-form>
</div>
<br>
<div *ngIf="scanPass">
    <scan-pass></scan-pass>
</div>
<div *ngIf="createRoute">
    <create-route ></create-route>
</div>
<div *ngIf="subscribe">
    <subscribe ></subscribe>
</div>
